@model IEnumerable<GestaoRHWeb.Models.UsuarioView>

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<br />
<br />
<br />

<p>
    <a asp-action="Create" class="btn btn-primary">Cadastrar Novo</a>
</p>
<table class="table table-hover table-bordered table-striped table-info">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CriadoEm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.CriadoEm)
    </td>

</tr>}
    </tbody>
</table>
